@import "./style.css";

:root {
  --img-width: 110px;
}


body {
  min-height: 100vh;
}

main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 10px;
}

main .totalAmount {
  margin: 0 auto;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  align-self: center;
  font-family: var(--font-Poppins);
  font-weight: 600;
  font-size: 1.3rem;
  background: #fff;
}

.checkout--cart--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.checkout--cart--item {
  display: flex;
  padding: 6px 8px;
  width: 350px;
  border-radius: 5px;
  background: radial-gradient(circle, #eb5d5d, #fc3737);
  box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.46);
  gap: 1.5rem;
}

.checkout--cart--item>img {
  width: var(--img-width);
  height: 110px;
  margin: auto 0;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.76));
  object-fit: contain;
  transform: rotateZ(-35deg);
}

.detail--container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: calc(100% - var(--img-width));
  color: #d8d4d4;
  font-weight: 400;
  font-family: var(--font-Poppins);
}

.info--container {
  display: flex;
  width: 100%;
  gap: 5px;
  flex-direction: column;
}

.info--container>.name--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name--wrapper>span {
  background: #f88663;
  color: #000;
  font-weight: 500;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 2px 4px;
}

.info--container>h5 {
  font-size: 1rem;
  font-weight: 500;
  width: 17ch;
}

.add--wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.7rem;
  font-weight: 700;
  background: #fff;
  color: #000;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.36);
  width: fit-content;
  border-radius: 3px;
  padding: 5px;
}

.total--amount {
  font-weight: 500;
  color: #fff;
}

.empty--cart {
  color: #fff;
  font-size: 1.8rem;
  font-family: var(--font-Oswald);
}

.clear--btn {
  margin: 0 auto;
  border: none;
  outline: none;
  padding: 5px 8px;
  font-family: var(--font-Poppins);
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 5px;
  background: #45f162;
  text-transform: uppercase;
}


.cart--footer {
  position: static;
  align-self: flex-end;
  width: 100%;
}

@media (hover: hover) {
  .info--container .name--wrapper>i {
    cursor: pointer;
  }

  .info--container .name--wrapper>i:hover {
    color: #080808;
  }

  .add--wrapper i {
    cursor: pointer;
  }

  .clear--btn {
    cursor: pointer;
  }

  .clear--btn:hover {
    background: #d87cf0;
  }
}


@media Screen and (max-width: 500px) {
  body {
    min-height: 100vh;
    height: auto;
  }

  .checkout--cart--wrapper {
    gap: .3rem;
    min-height: 100vh;
  }

  .checkout--cart--item {
    flex-direction: column;
    align-items: center;
    gap: .7rem;
    width: clamp(250px, 80%, 350px);
  }

  .detail--container {
    order: 1;
    width: 100%;
    padding-left: 1rem;
    padding-right: 5px;
  }

  .info--container {
    text-align: center;
  }

  .detail--container .info--container>h5 {
    width: 20ch;
    margin: 0 auto;
  }

  .add--wrapper {
    margin: 0 auto;
    font-size: .85rem;
  }

  .detail--container .total--amount {
    margin: 0 auto;
  }

  .checkout--cart--item>img {
    order: 2;
    --img-width: 120px;
    margin: 0 auto;
    transform: rotateZ(0deg);
  }

  .cart--footer {
    position: static;
    align-self: flex-end;
  }
}